:root {
    --primary: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}


.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}  

.btn--outline {
    width: 160px;
    height: 100px;
    background-color: transparent;
    padding: 0;
    border: 2px solid rgba(143, 253, 223, 0.2);
    border-radius: 8px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}



.btn--resume {
    background-color: transparent;
    color: #8ffddf;
    
    font-family: 'Bahnschrift';
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}


.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
    color:#8ffddf;
}

.btn--job {
    font-size: 18px;
    font-family: 'Ebrima';
    color: #b3cde0d0;
    font-weight: 500;
}
.btn--trying{
    padding: 8px 20px;
    font-size: 20px;
    color:#fff;
}
.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover{
    background:rgb(255, 255, 255);
    color: #242424;
    transition: all 0.3s ease-out;
}

.btn--job:hover {
    background: rgba(143, 253, 223, 0.1);
    border-color: #8ffddf;
    color: #8ffddf;
    transform: translateY(-2px);
}


.btn--active {
    font-size: 18px;
    font-family: 'Ebrima';
    background: rgba(143, 253, 223, 0.15);
    border-color: #8ffddf;
    color: #8ffddf;
    font-weight: 600;
}