.Experience-container {
    min-height: 1000px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
}

.Experience-inner {
    max-width: 1000px;
    width: 100%;
    flex-direction: column;
    display: flex;
}

.Experience-holder {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.descript {
    flex: 1;
    min-height: 400px;
}

.joblist {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
}

.job3 {
    display: flex;
}

h1.a1 {
    color: #8ffddf;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Bahnschrift';
    font-weight: 700;
    letter-spacing: -0.02em;
}

.titleHead {
    color: #fff;
    font-family: 'Ebrima';
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

p.date {
    color: #b3cde0d0;
    font-size: 16px;
    font-family: 'Ebrima';
    font-style: italic;
    opacity: 0.85;
    margin: 0 0 16px 0;
}

p.text {
    color: #b3cde0d0;
    font-family: 'Ebrima';
    font-size: 17px;
    line-height: 1.7;
    opacity: 0.95;
}

@media screen and (max-width: 960px) {
    .Experience-container {
        padding: 60px 20px;
    }

    .Experience-inner {
        width: 100%;
    }

    h1.a1 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .Experience-holder {
        flex-direction: column;
        gap: 40px;
    }

    .joblist {
        flex-direction: row;
        min-width: auto;
    }
}