.Intro-container{
    height: 100vh;
    width: 100%;
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #04396c;
    padding-bottom: 15%;
    object-fit: contain;
}

h1.i1{
    width:55%;
    margin-left: auto;
    margin-right: auto;
    color: #b3cde0d0;
    font-size: 4.5vmax;
    font-family: 'Bahnschrift';
}
p.i1{
    width:55%;
    margin-left: auto;
    margin-right: auto;
    color: #8ffddf;
    font-size: 1.2vmax;
    padding-bottom: 1%;
    
    font-family: 'Ebrima';
}
p.i2{
    padding-top: 1%;
    width:55%;
    margin-left: auto;
    margin-right: auto;
    color: #b3cde0d0;
    font-size: 1.2vmax;
    font-family: 'Ebrima';
}
