.Intro-container {
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}

.Intro-inner {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}

h1.i1 {
    color: #b3cde0d0;
    font-size: 5.2em;
    font-family: 'Bahnschrift';
    text-align: left;
    margin: 0;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.02em;
}

p.i1 {
    color: #8ffddf;
    font-size: 1.3em;
    margin-bottom: 12px;
    text-align: left;
    font-family: 'Ebrima';
    font-weight: 500;
}

p.i2 {
    margin-top: 20px;
    color: #b3cde0d0;
    font-size: 1.3em;
    font-family: 'Ebrima';
    text-align: left;
    max-width: 600px;
    line-height: 1.6;
    opacity: 0.9;
}

@media screen and (max-width: 960px) {
    .Intro-container {
        padding: 0 20px;
    }

    .Intro-inner > h1 {
        font-size: 2.5em;
    }

    p.i1, p.i2 {
        font-size: 1.1em;
    }
}